.beer-card {
  width: 25%;
  height:65%;
  background-color: #010626;
  text-align: center;
  margin: 1em;
  color: white;
  font-weight: 500;
  text-decoration: none;
  box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
    10px 10px 30px 4px rgba(0,0,0,0.9)
}

.click-style {
  padding-top: .5em;
  background-color: #F2935C;
  font-weight: 600;
}

.card-img {
  height: 45%;
}