.question-container {
  width:100%;
  height: 66vh;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/assets/Barrel.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.question-text-head {
  font-size: 1.3em;
  font-weight: 400;
}

.question-text {
  margin-top: 1.5em;
}

.customer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2935C;
  height:3em;
  width:24.5em;
  box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
    10px 10px 30px 4px rgba(0,0,0,0.9)
}

.spacing-answer {
  margin-right: 2em;
}

.meal-question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2935C;
  height:3em;
  width:24.5em;
  box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
    10px 10px 30px 4px rgba(0,0,0,0.9)
}

.fav-beer-question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2935C;
  height:3em;
  width:24.5em;
  box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
    10px 10px 30px 4px rgba(0,0,0,0.9)
}

.fetch-beer-button {
color: #20bf6b !important;
text-transform: uppercase;
background: #ffffff;
margin-top: .5em;
padding: 10px;
border: 4px solid #20bf6b !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.disabled {
  display: none;
}
