.expandedBeer-container {
  height:87vh;
  width:100%;
  background-color: #f2A35e;
}

.top-card-container {
  width: 80%;
  height:67%;
  display: flex;
  justify-content: flex-end;
  margin: 1em 1em;
}

.name-an-pic {
  width:30%;
  text-align: center;
  background-color: white;
}

.beer-img {
  width: 100%;
  height:85%;
  object-fit: contain;
  background-color: white;
}

.all-details {
  display: flex;
  width:30%;
  flex-direction: column;
  align-items: center;
  background-color: #010626;
  color:white;
  overflow:scroll;
}

.details-container {
  width:90%;
  text-align: left;
}

.beer-detail {
  margin-top: 1.5em;
}

.card-text {
  font-size: 1.1em;
  padding: .5em;
}

.bottom-card-container {
  background: white;
  height:25%;
  width:80%;
  margin: auto;
  overflow: scroll;
}

.description-rule {
  font-size: 2.3em;
}

.beer-detail {
  font-size: 1.5em;
}
