.login-container {
  height: 100vh;
  width: 100%;
  background-image: url('/assets/BeerWall.jpeg');
  display: flex;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgb(0,0,0,.75);
  width: 40%;
  height: 50%;
  flex-direction: column;
}

.login-txt {
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: .2em;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.age-alert {
  background-color: white;
  color: black;
  height: 40%;
  left: 35%;
  padding-top: 50px;
  position: absolute;
  top: 40%;
  width: 30%;
}

.hide {
  display: none;
}

.login-header {
  font-size: 3em;
  font-weight: 800;
  padding-bottom: .3em;
}

.login-age-check {
  margin-top: 1.3em;
  font-weight: 800;
}

.yes-btn {
color: white !important;
text-transform: uppercase;
text-decoration: none;
background: green;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.yes-btn:hover {
background: green;
letter-spacing: 3px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.no-btn {
color: white !important;
text-transform: uppercase;
text-decoration: none;
background: red;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.no-btn:hover {
background: red;
letter-spacing: 3px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.login-btn {
  padding: .3em;
  margin: .3em;
}
